
.formCheckout {
  & .button {
    background: var(--tg-theme-button-color);
  }
}

.box {
  margin-bottom: 42px;
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.inner {
  margin-bottom: 42px;
}

.paymentTitle {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 16px;
}

.deliveryNote {
  margin: 20px 0;
  padding: 8px 10px;
  border-left: 4px solid var(--tg-theme-button-color);
  border-radius: 6px;
}

.totalBlock {
  margin: 24px 0;
  padding: 16px 20px;
  border: 1px solid var(--tg-theme-hint-color);
  border-radius: 8px;

  div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  b {

  }
}
