.wrapper {
  padding: 20px;
  text-align: center;
}

.control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px; // можно убрать или изменить
  padding: 10px 0;
}

.note {
  font-size: 14px;
  color: #888;
  margin-bottom: 16px;
}
