
.product {
  display: flex;
  gap: 12px;
  position: relative;
}

.image {
  max-width: 125px;
  width: 100%;
  height: 125px;
  border-radius: 16px;
  overflow: hidden;
  flex-grow: 1;
}

.box {
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 18px;
  color: var(--black-color);
  svg{
    fill: var(--accent-color);
  }
}
.grams{
  font-size: 10px;
  color: var(--tg-theme-hint-color) ;
}
.description {
  max-width: 190px;
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 12px;
  color: var(--text-color);
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: left;

  &:last-child {
    margin-bottom: 0;
  }
}

.price {
  display: flex;
  font-weight: 600;
  font-size: 18px;
  color: var(--black-color);
  flex-direction: column;
  align-items: flex-end;
}

.subPrice {
  font-size: 14px;
  opacity: 0.7;
  margin-right: 4px;
}

.priceBox {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.buttonGroup {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  color: var(--tg-theme-text-color);
}

.button {
  padding: 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.oneProduct {
  flex-direction: column;

  & .description {
    max-width: initial;
  }

  & .price {
    text-align: right;
  }

  & .image {
    max-width: 100%;
    width: 100%;
    height: 330px;
  }
}

.small {

  & .image {
    max-width: 80px;
    height: 80px;
  }

  & .description {
    max-width: 130px;
  }
}

.disabled {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  filter: blur(1px);
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 1;
}

.textError {
  width: 100%;
  z-index: 10;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}