.products {
  margin-bottom: 33px;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.sum {
  display: flex;
  gap: 20px;
  font-weight: 600;
  font-size: 18px;
}
.desc{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 500;
  span{
    font-weight: 600;
  }
}
.link {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 6px;
  margin-top: auto;
  font-weight: 400;
  font-size: 15px;
  color: var(--tg-theme-hint-color);
}

.line {
  margin-top: 1px;
  width: 100%;
  height: 1px;
  background-color: var(--tg-theme-hint-color);
}

.sum {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 20px;




  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5;
  }

  b {
    font-weight: 600;
  }
}

