.oneOrderCard {
  /*background: var(--tg-theme-bg-color);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  padding: 20px;*/
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sum {
  display: flex;
  flex-direction: column;
  gap: 8px;
/*  margin: 20px 0px 20px 0px;
  border: 1px solid var(--tg-theme-hint-color);
  border-radius: 15px;
  padding: 15px;*/

  div {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    /*color: #333;*/

    b {
      font-weight: 600;
      font-size: 18px;
      /*color: #222;*/
    }
  }
}

.desc {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  /*border: 1px solid var(--tg-theme-hint-color);
  border-radius: 15px;
  padding: 15px;*/

  & > div:first-child {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
    /*color: #333;*/
  }

  span {
    font-weight: 500;
   /* color: #555;*/
    margin-right: 4px;
  }
}

.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-weight: 500;
  color: var(--tg-theme-link-color);
  text-decoration: none;
  transition: color 0.2s;

  margin-top: 24px;

  &:hover {
    color: var(--tg-theme-link-color);
  }

  .line {
    flex: 1;
    height: 1px;
    background: #ccc;
  }
}
