.box {
   margin-bottom: 12px;
   display: flex;
   flex-wrap: wrap;
   gap: 8px;
   justify-content: flex-start;
}

.calendarBox {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   gap: 8px;
}

.statsGrid {
   display: grid;
   gap: 12px;
   grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
   padding: 8px 0;
}

.card {
   background: #ffffff;
   border-radius: 12px;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
   padding: 12px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   transition: transform 0.1s ease-in-out;

   &:hover {
      transform: scale(1.02);
   }
}

.clickable {
   cursor: pointer;
   border: 2px solid #b6f254;
}

.title {
   font-weight: 500;
   font-size: 14px;
   color: #555;
}

.value {
   font-weight: 700;
   font-size: 16px;
   color: #111;
}
.mainStatsRow {
   display: flex;
   justify-content: space-between;
   gap: 16px;
   margin-bottom: 24px;
   flex-wrap: wrap;
}

.mainCard {
   flex: 1 1 30%;
   background-color: #f6f6f6;
   border-radius: 12px;
   padding: 16px;
   text-align: center;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);

   .title {
      display: block;
      font-size: 14px;
      color: #666;
      margin-bottom: 8px;
   }

   .value {
      font-size: 20px;
      font-weight: 700;
      color: #333;
   }
}