.box {
   margin-bottom: 12px;
   display: flex;
  /* flex-wrap: wrap;*/
   gap: 8px;
   /*justify-content: flex-start;*/
   align-items: center;
}

.calendarBox {
   display: flex;
   align-items: center;
   gap: 6px;

}

.statsGrid {
   display: grid;
   gap: 12px;
   grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
   padding: 8px 0;
}

.card {
   background: #ffffff;
   border-radius: 12px;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
   padding: 12px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   transition: transform 0.1s ease-in-out;

   &:hover {
      transform: scale(1.02);
   }
}

.clickable {
   cursor: pointer;
   border: 2px solid #b6f254;
}

.title {
   font-weight: 500;
   font-size: 14px;
   color: #555;
}

.value {
   font-weight: 700;
   font-size: 16px;
   color: #111;
}

.mainStatsRow {
   display: flex;
   gap: 32px;
   flex-wrap: wrap;
   align-items: baseline;
   font-size: 16px;
   font-weight: 500;
   margin: 16px 0 24px;
}

.statLabel {
   font-weight: 500;
}

.statValue {
   font-weight: 600;
}

.mainStatsCol {
   display: flex;
   flex-direction: column;
   gap: 12px;
}

.mainStatsTitle {
   font-size: 18px;
   font-weight: 600;
   margin-bottom: 4px;
}

.statGroup {
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.statRow {
   display: flex;
   justify-content: space-between;
}

.emptyBlock {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 32px;
   gap: 12px;
   color: var(--tg-theme-text-color, #666);
   text-align: center;
}

.emptyImage {
   width: 96px;
   height: 96px;
   opacity: 0.4;
}

.emptyText {
   font-size: 15px;
   font-weight: 500;
}

