.btnGroup {
  min-height: 36px;
  display: flex;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid var(--tg-theme-button-color);

  button {
    width: 100%;
    padding: 10px 39px;
    cursor: pointer;
    color: var(--color-white);

    &.active {
      color: var(--tg-theme-button-text-color);
      background: var(--tg-theme-button-color);
    }
  }
}
