.button {
  max-width: 290px;
  width: 100%;
  height: 38px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  border-radius: 16px;
  transition: all 0.2s ease;

  &:active {
    transform: scale(1.1);
    opacity: 0.8;
  }

  &.active {
    opacity: 0.5;
  }

  &.disabled {
    opacity: 0.4;
    pointer-events: none;
    cursor: default;
  }

  &.small {
    height: 32px;
    font-size: 13px;
    padding: 8px 12px;
  }

  &.medium {
    height: 38px;
    font-size: 15px;
    padding: 10px 15px;
  }

  &.large {
    height: 48px;
    font-size: 17px;
    padding: 12px 20px;
  }
  // Цветовые стили:
  &.primary {
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
  }

  &.success {
    background: #4caf50;
    color: #fff;
  }

  &.danger {
    background: #f44336;
    color: #fff;
  }

  &.gray {
    background: #9e9e9e;
    color: #fff;
  }

}

