.qrcode{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.image{
  max-width: 200px;
  margin: 0 auto;
}
.link{
  max-width: 290px;
  width: 100%;
  height: 38px;
  margin: 0 auto;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  border-radius: 16px;
}