
.order {
  padding: 18px 14px;
  border-radius: 16px;
  background-color: var(--bg-grey-color);
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 15px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.text {
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
}

.date {
  font-size: 14px;
  color: gray;
  margin-bottom: 6px;
}